<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@recipe.errors.count, "error") %>
      prohibited kept this recipe from being saved:
    </h2>

    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<br>

<h2>What is it? // Info </h2>

<%= form_for @recipe do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.label :title, "Drink name:" %>
  <%= f.text_field :title, placeholder: "the naughtier the better ;)",
  class: 'form-control' %>

  <%= f.label :servings, "How many people we serving?" %>
  <%= f.number_field :servings, placeholder: "more than 6 is a party~",
  in: 1..100, class: 'form-control' %>

  <%= f.label :time, "Prep. time (in minutes):"  %>
  <%= f.number_field :time, class: 'form-control' %>

  <%= f.label :description, "Tell us a little bit about your masterpiece <3" %>
  <%= f.text_area :description, class: 'form-control' %>

  <h3>How do you make it? // Directions </h3>
  <%= f.fields_for :directions, @recipe.directions do |direction_fields| %>
     <%= direction_fields.label :direction, (direction_fields.index + 1).to_s + '/'  %>
     <%= direction_fields.text_field :body,
       placeholder: @pds[direction_fields.index],
       class: 'form-control' %>
   <% end %>

   <h3>What's in it? // Ingredients </h3>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all,
    :id, :name, prompt: true %>

   <h5>Or add your own:</h5>
   <%= f.fields_for :ingredients, @recipe.ingredients.build do |ff| %>
     <%= ff.text_field :name %>
   <% end %>

   <br>
  <%= f.submit class: "btn btn-primary" %>

<% end %>
