<br>
<h1>New Cocktail Recipe</h1>

<%= form_for(@recipe) do |f| %>

    <%= f.label :title, "Drink name:" %>
    <%= f.text_field :title, placeholder: "the naughtier the better ;)", class: 'form-control' %>

    <%= f.label :servings, "How many people we serving?" %>
    <%= f.number_field :servings, placeholder: "more than 6 is a party~", in: 1..100, class: 'form-control' %>

    <%= f.label :time, "Prep. time (in minutes):"  %>
    <%= f.number_field :time, class: 'form-control' %>

    <%= f.label :description, "Tell us a little bit about your masterpiece <3" %>
    <%= f.text_area :description, class: 'form-control' %>

    <h3>How do you make it?</h3>
    <%= f.fields_for :directions, @recipe.directions do |direction_fields| %>
       <%= direction_fields.label :step_1, "1/"  %>
       <%= direction_fields.text_field :step_1, class: 'form-control' %>

       <%= direction_fields.label :step_2, "2/"  %>
       <%= direction_fields.text_field :step_2, class: 'form-control' %>

       <%= direction_fields.label :step_3, "3/"  %>
       <%= direction_fields.text_field :step_3, class: 'form-control' %>

       <%= direction_fields.label :step_4, "4/"  %>
       <%= direction_fields.text_field :step_4, class: 'form-control' %>

       <%= direction_fields.label :step_5, "5/"  %>
       <%= direction_fields.text_field :step_5, class: 'form-control' %>
     <% end %>

     <h3>What's in it?</h3>
     <%= f.fields_for :ingredients, @recipe.ingredients do |ingredients_fields| %>
      <%=  %>
     <% end %>
    <%= f.submit %>

<% end %>
