<h1><%= @recipe.title %><br></h1>
description <%= @recipe.description %><br>
time <%= @recipe.time %><br>
<br>
Directions
<ol>
  <% @recipe.directions.each do |d| %>
  <li><%= d.body %></li>
<% end %>
</ol>
<br>
Ingredients
<% @recipe.ingredients.each do |i| %>
  <li><%= i.name %></li>
<% end %>
<br>

<% if_logged_in?(login_link_text: "Log in to rate this recipe") do %>
  <% if current_user.id == @recipe.user_id %>
    <%= link_to "Edit Recipe", edit_recipe_path(@recipe.id) %>
  <% else %>

  <h4>Rate this recipe:</h4>
    <%= form_for [@recipe, @rating] do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.radio_button :star, 1 %>
      <%= f.label :star, '⭐' %>

      <%= f.radio_button :star, 2 %>
      <%= f.label :star, '⭐⭐' %>

      <%= f.radio_button :star, 3 %>
      <%= f.label :star, '⭐⭐⭐' %>

      <%= f.radio_button :star, 4  %>
      <%= f.label :star, '⭐⭐⭐⭐'%>

      <%= f.radio_button :star, 5 %>
      <%= f.label :star, '⭐⭐⭐⭐⭐' %>

      <%= f.submit "Rate", class: "btn btn-info" %>
    <% end %>

  <% end %>
<% end %>

<h4>Comments:</h4>
<% if current_user %>
Say something nice: <br>
  <%= form_for [@recipe, @comment] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.text_area :content %>
    <%= f.submit "Comment", class: "btn btn-success" %>
  <% end %>
<% else %>
<br>
<%= link_to "Log in to say something nice", signin_url %>
<% end %>

<ul>
  <% @valid_comments.each do |c| %>
    <%= c.user.email %> says: <%= c.content %>
  <% end %>
</ul>

<%= link_to "See all comments here", recipe_comments_path(@recipe) %>
