title <%= @recipe.title %><br>
description <%= @recipe.description %><br>
time <%= @recipe.time %><br>
description <%= @recipe.description %><br>
<br>
Directions
<% @recipe.directions.each do |d| %>
  <li><%= d.body %></li>
<% end %>
<br>
Ingredients
<% @recipe.ingredients.each do |i| %>
  <%= i.name %>
<% end %>
